.popup__form-input {
  display: block;
  width: 100%;
  margin: 0;
  font-size: 14px;
  box-sizing: border-box;
  padding: 0 0 10px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
}
